.container {
    display: flex;
    height: 150px;
    width: 450px;
    align-items: center;
}


/* align-> 교차축 justity->주축 */
/* 아이템박스에 선언 */
#box1 {
    align-self: flex-start;
}

#box3 {
    align-self: stretch;
}